:root {
  --color-text: #e01d3f;
}

.App-header {
  display: flex;
  align-items: center;
  color: var(--color-text);
  font-size: 20px;
  border-bottom: 3px solid var(--color-text);
}

.App-header  img{
  width: 200px;
  height: 200px;
}
.App-body {
  margin:  50px 30px;
}

.App-footer {
  bottom: 0;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  border-top: 3px solid var(--color-text);
}